In [2]:
import pandas as pd

### Reading table from html page

In [3]:
canada = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df = canada[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
df.shape

(288, 3)

### Reading only rows which doesn't have Not assigned value for column Borough

In [5]:
df2 = df.loc[df['Borough'] != 'Not assigned']
print(df2.shape)
df2.head()

(211, 3)

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

### Joining rows with same value for Neighbourhood

In [6]:
df3 = df2.groupby(['Postcode', 'Borough']).apply(lambda group: ','.join(group['Neighbourhood']))
df3 = df3.to_frame().reset_index()
df3 = df3.rename(columns = {0 : 'Neighbourhood'})
print(df3.shape)
df3.head()

(103, 3)

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

### Modifying rows with value Not assigned for column Neighbourhood

In [39]:
value = df3.loc[df3['Neighbourhood'] == 'Not assigned', ['Borough']]
df3.loc[df3['Neighbourhood'] == 'Not assigned', ['Neighbourhood']] = value

In [40]:
df3.shape

(103, 3)